@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

body{
    font-family: 'Outfit', sans-serif;;
    background-color: hsl(212, 45%, 89%);
}

.section.principal {
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 20rem;
    height: 30rem;
    padding: 10px;
    border-radius: 1rem;
    background-color: aliceblue;
    text-align: center;
    line-height: 1.7rem;
}
.description {
    margin-top: .5rem;
    padding-right: 28px;
    padding-left: 28px;
}
.section.principal p {
    font-size: 15px;
    line-height: 1.2rem;
}



.section.qr
img {
    width: 300px;
    border-radius: 1rem;
}

footer {    
    padding: 2rem;
    bottom: 0;
    min-width: 100%;
    position: fixed;
}